$primary: #0B63CE !default;
$primary-dark: #af0000 !default;
$dark: #09101d !default;
$secondary: #646b75 !default;
$background: #e5e5e5 !default;
$background-light: #f7f8f9 !default;
$light: #f1f2f5 !default;
$white: #fff !default;
$brand: #1d2431 !default;

$font-family-base: 'Yantramanav-Regular', sans-serif, -apple-system,
	blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-family-medium: 'Yantramanav-Medium' !default;
$font-family-black: 'Yantramanav-Black' !default;
$font-weight-medium: 500 !default;
$font-weight-black: 900 !default;

$base-font-size: 16px !default;
$h1-display-size: 65.76px !default;
$h1-size: 51.96px !default;
$h2-size: 41.05px !default;
$h3-size: 32.44px !default;
$h4-size: 25.63px !default;
$h5-size: 22.78px !default;
$h6-size: 20.25px !default;
$secondary-size: 18px !default;
$small-size: 12.64px !default;

$h1-display-line-height: 72px !default;
$h3-line-height: 30px !default;
$h4-line-height: 72px !default;
$h5-line-height: 28px !default;
$small-line-height: 24px !default;

$xs-whitespace: 12px;
$sm-whitespace: 16px;
$md-whitespace: 24px;
$lg-whitespace: 32px;
$xl-whitespace: 48px;
