@font-face {
	font-family: 'Yantramanav-Regular';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Yantramanav-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Yantramanav-Black';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Yantramanav-Black.ttf) format('truetype');
}

@font-face {
	font-family: 'Yantramanav-Medium';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Yantramanav-Medium.ttf) format('truetype');
}