.has-control-menu {
	.subscription-portal-vertical-nav {
		top: 58px;
	}
}

.subscription-portal-vertical-nav {
	background: $white;
	height: 100%;
	position: fixed;
	left: 0;
	text-align: center;
	top: 0;
	width: 79px;
	z-index: 100;

	.nav-link {
		padding: 16px;

		&:hover,
		&.active {
			svg path {
				fill: #2368ee;
			}

			.nav-icon {
				background-color: #e8f0fe;
			}
		}

		&.brand {
			padding-bottom: 48px;

			svg path {
				fill: none;
			}
		}

		.nav-icon {
			border-radius: 10px;
			padding: 14px;
		}
	}
}
