.portlet-boundary_subscriptionportalheader_ {
	.header-bar,
	.vehicle-name {
		display: flex;
	}

	.header-bar {
		justify-content: space-between;
	}
}

.portlet-boundary_subscriptionwidgetheader_ {
	.subscription-header {
		display: flex;
		justify-content: space-between;
	}
}

.portlet-boundary_notificationwidget_ {
	.card {
		background-color: #FD7D7E;
		color: $white;
	}

	.notification-body {
		display: flex;
		justify-content: space-between;
	}
}
