.portlet-boundary_cloudsharewidget_ .progress-bar-title,
.portlet-boundary_notificationwidget_ .notification-body,
.portlet-boundary_subscriptionwidgetheader_ .subscription-header {
	display: flex;
	justify-content: space-between;
}

.portlet-boundary_cloudsharewidget_,
.portlet-boundary_notificationwidget_ {
	.card {
		margin-bottom: 0;
	}

	.card-body {
		padding-top: 0;
	}
}

.portlet-boundary_cloudsharewidget_ {
	.progress-bar-title {
		margin-top: 24px;
		padding-bottom: 8px;
	}

	.progress-bar {
		background: linear-gradient(
			202.71deg,
			#23d6ee 45.19%,
			#2368ee 64.89%,
			rgba(11, 95, 255, 0) 103.38%
		);
		border-radius: 100px;
		height: 7px;
		position: relative;
		left: 7px;
		top: 5px;
	}

	.progress-md {
		border-radius: 100px;
		height: 17px;
	}
}

.portlet-boundary_notificationwidget_ {
	.card {
		background-color: #fd7d7e;
		color: $white;

		&.card-interactive {
			&:hover {
				background: #f7f8f9;
			}
		}
	}

	.notification-body {
		div {
			text-align: left;
			width: 60%;
		}
	}
}

.portlet-boundary_performance_ .performance,
.portlet-boundary_usagewidget_ .fuel-consumption-chart {
	text {
		fill: $secondary;
	}

	.bb-axis-x,
	.bb-axis-y {
		.domain,
		.tick line {
			stroke: none;
		}
	}

	.bb-line-performance {
		stroke: url(#performanceGradient) #3e7bf0 !important;
		stroke-width: 3;
	}
}

.portlet-boundary_personaldata_ {
	.personal-data-donut {
		margin-left: -12px;

		.bb-arc-Data-Used {
			fill: url(#myDataGradient) #138eff !important;
		}

		.bb-chart-arcs-title {
			tspan {
				&:first-child {
					font-family: $font-family-medium;
					font-size: $h5-size;
					font-weight: $font-weight-medium;
				}

				&:last-child {
					font-size: $base-font-size;
					fill: $secondary;
				}
			}
		}
	}
}

.portlet-boundary_solartrakwidget_ {
	.energy-absorption {
		padding-top: 24px;

		.bb-bars-energy {
			.bb-shape.bb-bar {
				fill: url(#energyAbsorptionGradient) #23d6ee !important;
			}
		}
	}
}

.portlet-boundary_subscriptionportalheader_ {
	.header-bar,
	.vehicle-name {
		display: flex;
	}

	.header-bar {
		justify-content: space-between;
	}
}

.has-control-menu {
	.portlet-boundary_usagewidget_ {
		.modal-full-screen {
			top: 58px;
		}
	}
}

.portlet-boundary_usagewidget_ {
	dt,
	h5 {
		color: $dark;
	}

	.btn-light {
		background-color: $white;
	}

	.btn-link {
		> img {
			margin-bottom: 22px;
		}
	}

	.car-info {
		background-color: $white;
		border-radius: 24px;
		display: inline-block;
		padding: 32px;
		position: relative;
		top: 60px;
		left: -140px;
		width: 24%;

		dd,
		dt {
			display: inline-block;
		}

		dd {
			color: $secondary;
			width: 75%;
		}

		dl {
			padding-top: 24px;
		}

		dt {
			font-family: 'Yantramanav-Medium';
			font-weight: $font-weight-medium;
			width: 25%;
		}

		.btn-add {
			box-shadow: 0px 4px 16px rgba(42, 70, 103, 0.15);
			border-radius: 24px 0px;
			border-width: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 24px;
		}

		.control {
			margin-right: 16px;

			&.active {
				border-top: 3px solid #cd5e0d;
			}

			img {
				padding-top: 8px;
			}
		}

		.controls {
			display: flex;
		}

		.user-manual {
			color: $brand;
		}
	}

	.close-modal {
		font-size: $h3-size;
		color: $secondary;
		padding: 24px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.flying-car {
		position: absolute;
		width: 58%;
		right: 265px;
		top: 112px;
	}

	.fuel-consumption {
		color: $dark;
		padding-left: 32px;
		margin-bottom: 24px;

		h4 {
			margin-bottom: 32px;
		}

		.consumption-heading {
			display: flex;
			justify-content: space-between;
		}

		.fuel-consumption-chart {
			.bb-circles-performance circle {
				fill: none !important;
				stroke: transparent !important;
			}

			.bb-line-performance {
				stroke-width: 5;
			}
		}

		.time-scale {
			span {
				padding: 0 16px;
			}

			.active-scale {
				background-color: #f5f6f9;
				color: #262933;
				padding: 3px 6px;
				border-radius: 8px;
			}
		}
	}

	.milage-table {
		&.table-list {
			tbody,
			thead {
				td,
				th {
					background-color: #f5f6f9;
				}
			}
		}

		td {
			font-size: $h5-size;
		}

		thead {
			font-size: $h3-size;
		}
	}

	.modal {
		z-index: 900;
	}

	.modal-full-screen {
		bottom: 0;
		left: 79px;
		right: -14px;
		top: 0;
		font-family: $font-family-base;
		font-weight: normal;
	}

	.modal-body {
		text-align: left;
		padding: 0;

		.detail-wrapper {
			padding: 0 48px;
		}
	}

	.modal-content {
		border: none;
	}

	.my-data-label {
		position: relative;
		top: 60px;
		display: inline-block;
		vertical-align: top;

		h5 {
			display: inline;
			padding-left: 16px;
		}

		.card-icon {
			box-shadow: 0px 12px 16px rgba(68, 79, 120, 0.15);
			left: 10px;
			position: initial;
			vertical-align: bottom;
		}
	}

	.stat-icon {
		height: 28px;
	}

	.stats {
		margin-bottom: 125px;

		.primary-stat {
			color: $dark;
			font-size: $h1-display-size;

			div {
				display: inline;
			}
		}

		.secondary-stat {
			font-size: $h6-size;

			svg {
				margin-right: 6px;
			}
		}
	}

	.upgrade {
		color: #ff6b00;
		display: block;
		text-align: right;
		position: relative;
		bottom: 24px;
		right: -130px;

		.btn-upgrade {
			box-shadow: 0px 4px 16px rgba(42, 70, 103, 0.15);
			border-radius: 12px;
			padding: 24px;
			margin-right: 24px;
		}
	}
}
