.portlet-boundary_cloudsharewidget_ .progress-bar-title,
.portlet-boundary_notificationwidget_ .notification-body,
.portlet-boundary_subscriptionwidgetheader_ .subscription-header {
	display: flex;
	justify-content: space-between;
}

.portlet-boundary_cloudsharewidget_,
.portlet-boundary_notificationwidget_ {
	.card-body {
		padding-top: 0;
	}
}

.portlet-boundary_cloudsharewidget_ {
	.progress-bar-title {
		margin-top: 24px;
		padding-bottom: 8px;
	}

	.progress-bar {
		background: linear-gradient(
			202.71deg,
			#23d6ee 45.19%,
			#2368ee 64.89%,
			rgba(11, 95, 255, 0) 103.38%
		);
		border-radius: 100px;
		height: 7px;
		position: relative;
		left: 7px;
		top: 5px;
	}

	.progress-md {
		border-radius: 100px;
		height: 17px;
	}
}

.portlet-boundary_notificationwidget_ {
	.card {
		background-color: #fd7d7e;
		color: $white;
	}

	.notification-body {
		div {
			text-align: left;
			width: 60%;
		}
	}
}

.portlet-boundary_performance_ .performance, 
.portlet-boundary_usagewidget_ .fuel-consumption-chart {
	text {
		fill: $secondary;
	}

	.bb-axis-x,
	.bb-axis-y {
		.domain,
		.tick line {
			stroke: none;
		}
	}

	.bb-line-performance {
		stroke: url(#performanceGradient) #3e7bf0 !important;
		stroke-width: 3;
	}
}

.portlet-boundary_personaldata_ {
	.personal-data-donut {
		margin-left: -12px;

		.bb-arc-Data-Used {
			fill: url(#myDataGradient) #138eff !important;
		}

		.bb-chart-arcs-title {
			tspan {
				&:first-child {
					font-family: $font-family-medium;
					font-size: $h5-size;
					font-weight: $font-weight-medium;
				}

				&:last-child {
					font-size: $base-font-size;
					fill: $secondary;
				}
			}
		}
	}
}

.portlet-boundary_solartrakwidget_ {
	.energy-absorption {
		padding-top: 24px;

		.bb-bars-energy {
			.bb-shape.bb-bar {
				fill: url(#energyAbsorptionGradient) #23d6ee !important;
			}
		}
	}
}

.portlet-boundary_subscriptionportalheader_ {
	.header-bar,
	.vehicle-name {
		display: flex;
	}

	.header-bar {
		justify-content: space-between;
	}
}

.has-control-menu {
	.portlet-boundary_usagewidget_ {
		.modal-full-screen {
			top: 58px;
		}
	}
}

.portlet-boundary_usagewidget_ {
	.fuel-consumption {
		color: $dark;

		h4 {
			margin-bottom: 32px;
		}
	}

	.milage-table {
		td {
			font-size: $h5-size;
		}

		thead {
			font-size: $h3-size;
		}
	}

	.modal-full-screen {
		bottom: 0;
		left: 79px;
		right: 0;
		top: 0;
		font-family: $font-family-base;
		font-weight: normal;
	}

	.modal-body {
		padding: 0 48px;
		text-align: left;
	}

	.modal-content {
		border: none;
	}

	.stats {
		margin-bottom: 125px;

		.primary-stat {
			color: $dark;
			font-size: $h1-display-size;
		}

		.secondary-stat {
			font-size: $h6-size;

			svg {
				margin-right: 6px;
			}
		}
	}
}
