:root {
	--sp-color-secondary: #646b75;
	--sp-color-background: #e5e5e5;
	--sp-color-background-light: #f7f8f9;
	--sp-color-dark: #09101d;
	--sp-color-white: #fff;
}

html body {
	background-color: var(--sp-color-background-light);
	color: var(--sp-color-dark);
}

.portlet-boundary_subscriptionportal_ {
	font-family: 'Yantramanav-Regular', sans-serif, -apple-system,
		blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.portlet-boundary_subscriptionportal_ h1,
.portlet-boundary_subscriptionportal_ h2,
.portlet-boundary_subscriptionportal_ h3,
.portlet-boundary_subscriptionportal_ h4,
.portlet-boundary_subscriptionportal_ h5,
.portlet-boundary_subscriptionportal_ h6,
.portlet-boundary_subscriptionportal_ .btn-link {
	font-family: 'Yantramanav-Medium';
	font-weight: 500;
}

.portlet-boundary_subscriptionportal_ h4 {
	font-size: 25.63px;
	line-height: 72px;
}

.portlet-boundary_subscriptionportal_ h6 {
	font-size: 20.25px;
	line-height: 28px;
}

.portlet-boundary_subscriptionportal_ .card {
	background: var(--sp-color-white);
	border-color: transparent;
	border-radius: 24px;
}

.portlet-boundary_subscriptionportal_ .card .heading,
.portlet-boundary_subscriptionportal_ .card .subheading {
	padding: 12px 20px 0;
	margin-bottom: 0;
}

.portlet-boundary_subscriptionportal_ .dashboard-body {
	padding: 32px 48px 24px;  
}

.portlet-boundary_subscriptionportal_ .header-bar,
.portlet-boundary_subscriptionportal_ .subscription-header,
.portlet-boundary_subscriptionportal_ .vehicle-name {
	display: flex;
	justify-content: space-between;
}

.portlet-boundary_subscriptionportal_ .header-bar,
.portlet-boundary_subscriptionportal_ .subscription-header {
	justify-content: space-between;
}

.portlet-boundary_subscriptionportal_ .subscriptions {
	margin-top: 48px;
	margin-bottom: 24px;
}

.secondary-font-size {
	font-size: 18px;
}

.secondary-font-color {
	color: var(--sp-color-secondary);
}

.tag {
	font-weight: bold;
	margin-right: 1em;
}

.value {
	font-family: monospace;
}

.pre {
	font-family: monospace;
	white-space: pre;
}
