/* car features */
.car-features h3 {
  margin-bottom: var(--zeon-sm-whitespace); }

.car-features .features {
  align-items: center;
  background-color: var(--zeon-dark);
  color: var(--zeon-white);
  display: flex; }

.car-features .feature-image {
  padding: 0; }
  .car-features .feature-image img {
    object-fit: cover;
    width: 100%; }

.car-features .feature-list {
  list-style: none;
  padding-left: 0; }
  .car-features .feature-list .list-item {
    display: inline-block;
    margin-bottom: var(--zeon-md-whitespace);
    margin-left: var(--zeon-sm-whitespace); }

.car-features .icon {
  display: inline; }

.car-features .subheading {
  margin-bottom: var(--zeon-lg-whitespace); }
