/* ---------- Color variables ---------- */

$primary: #d72323 !default;
$primary-dark: #af0000 !default;
$dark: #09101d !default;
$secondary: #646b75 !default;
$background: #e5e5e5 !default;
$background-light: #f7f8f9 !default;
$light: #f1f2f5 !default;
$white: #fff !default;
$brand: #1d2431 !default;

$font-family-base: 'Yantramanav', sans-serif, -apple-system, blinkmacsystemfont,
	'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-weight-medium: 500 !default;
$font-weight-black: 900 !default;

$base-font-size: 18px !default;
$h1-display-size: 3.653rem !default; // 65.76px
$h1-size: 2.887rem !default; // 51.96px
$h2-size: 2.281rem !default; // 41.05px
$h3-size: 1.802rem !default; // 32.44px
$h4-size: 1.424rem !default; // 25.63px
$h5-size: 1.266rem !default; // 22.78px
$secondary-size: 0.889rem !default; // 16px
$small-size: 0.702rem !default; // 12.64px

$h1-display-line-height: 72px !default;
$h3-line-height: 30px !default;
$h4-line-height: 72px !default;
$h5-line-height: 28px !default;
$small-line-height: 24px !default;

$xs-whitespace: 12px;
$sm-whitespace: 16px;
$md-whitespace: 24px;
$lg-whitespace: 32px;