#banner {
  position: fixed;
  z-index: 3;
}

#content {
  padding-top: $lg-whitespace;
  margin-top: 136px;
}

#wrapper {
  padding-top: 0;
}

:root {
  --dp-h4-size: 25.63px;
  --dp-secondary-font-size: 16px;
  --dp-color-background-light: #f7f8f9;
  --dp-color-dark: #09101d;
  --dp-color-secondary: #646b75;
  --dp-color-white: #fff;

  --dp-font-weight-black: 900;
  --dp-font-weight-medium: 500;

  --dp-xs-whitespace: 12px;
  --dp-sm-whitespace: 16px;
  --dp-md-whitespace: 24px;
  --dp-lg-whitespace: 32px;
  --dp-xl-whitespace: 48px;
}

html body {
  background: $white;
  font-family: $font-family-base;
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yantramanav-Medium';
  font-weight: $font-weight-medium;
}

h1 {
  font-size: $h1-size;

  &.display {
    font-size: $h1-display-size;
    line-height: $h1-display-line-height;
  }
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
  line-height: $h3-line-height;
}

h4 {
  font-size: $h4-size;
  line-height: $h4-line-height;
}

h5 {
  font-size: $h5-size;
  line-height: $h5-line-height;
}

hr {
  border-bottom-color: $light;
  margin-top: $xl-whitespace;
  margin-bottom: $xl-whitespace;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.dashboard-fragment-footer {
  padding: $md-whitespace;
  text-align: right;

  .view-all {
    display: inline-block;
    font-family: 'Yantramanav-Medium';
    font-size: $secondary-size;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }
}

.dashboard-fragment-header {
  display: flex;
  justify-content: space-between;
  padding: $sm-whitespace 28px;
}

.font-size-secondary {
  font-size: $secondary-size;
}

.font-size-small {
  font-size: $small-size;
  line-height: $small-line-height;
}

.font-weight-black {
  font-family: 'Yantramanav-Black';
  font-weight: $font-weight-black;
}

.font-weight-medium {
  font-family: 'Yantramanav-Medium';
  font-weight: $font-weight-medium;
}

.has-control-menu {
  #content {
    margin-top: 194px;
  }

  .navbar-header {
    top: 58px;
  }

  .nav-primary {
    top: 129px;
  }
}

.max-width-1224 {
  margin: 0 auto;
  width: 1224px;
}

.nav-underline {
  .nav-item {
    color: $secondary;
    font-size: $secondary-size;
    margin-right: $md-whitespace;

    &.active {
      .nav-link {
        border-bottom: 2px solid $primary;
        color: $dark;
        font-family: 'Yantramanav-Medium';
        font-weight: $font-weight-medium;
      }
    }

    .nav-link {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.stock-number,
.vin {
  color: $secondary;
}

.table {
  font-size: $secondary-size;

  &.table-list {
    td,
    th {
      &:last-child,
      &:first-child {
        box-shadow: inset 0 0.0625rem #e7e7ed, 0 0.0625rem #e7e7ed;
      }
    }
  }

  th {
    color: $dark;
  }
}

.vehicle-name {
  font-family: 'Yantramanav-Medium';
  font-size: 18px;
  font-weight: $font-weight-medium;
}
