@font-face {
	font-family: 'Yantramanav';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Yantramanav-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Yantramanav';
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/Yantramanav-Black.ttf) format('truetype');
}

@font-face {
	font-family: 'Yantramanav';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Yantramanav-Medium.ttf) format('truetype');
}