.kb-article-container {
    padding-left: 95px;
    border-left: 1px solid $light;

    form,
    .kb-entity-body + h5,
    .taglib-social-bookmarks {
        display: none;
    }

    .kb-article-ratings {
        margin-top: $md-whitespace;
    }

    .taglib-header {
        border-bottom-width: 0;
    }
}

.kb-tools,
.portlet-title-text {
    display: none;
}

.portlet-asset-publisher {
    .portlet-content {
        background-color: $white;
        border-width: 0;
    }
}