/* ---------- Color variables ---------- */

$primary: #d72323 !default;
$primary-dark: #af0000 !default;
$dark: #09101d !default;
$secondary: #646b75 !default;
$background: #e5e5e5 !default;
$background-light: #F7F8F9 !default;
$light: #ededf0 !default;
$white: #fff !default;

/* ---------- Variable overrides ---------- */

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1280px
) !default;

$font-family-base: 'Yantramanav', sans-serif, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-medium: 500 !default;
$font-weight-black: 900 !default;

$base-font-size: 18px;
$h1-display-size: 65.76px; // 3.653rem
$h1-size: 51.96px; // 2.887rem
$h2-size: 41.05px; // 2.281rem
$h3-size: 32.44px; // 1.802rem
$h4-size: 25.63px; // 1.424rem
$h5-size: 22.78px; // 1.266rem
$secondary-size: 16px; // 0.889rem
$small-size: 12.64px; // 0.702rem

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1248px
) !default;

$h1-display-line-height: 72px;
$h3-line-height: 30px;
$h4-line-height: 72px;
$h5-line-height: 28px;
$small-line-height: 24px;

$xs-whitespace: 12px;
$sm-whitespace: 16px;
$md-whitespace: 28px;
$lg-whitespace: 32px;

$table-cell-padding: 20px !default;
$table-list-border-radius: 0 !default;
$table-list-border-x-width: 0 !default;
$table-responsive-margin-bottom: 48px !default;