/* banner */
.banner.zeon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=');
  background-position: center;
  background-size: cover;
}
.banner.zeon .container {
  padding-bottom: 12rem;
  padding-top: 7.5rem;
}
.banner.zeon .learn-more,
.banner.zeon .subtitle,
.banner.zeon .title {
  color: var(--zeon-white);
}
.banner.zeon .learn-more,
.banner.zeon .subheading {
  text-transform: uppercase;
}
.banner.zeon .learn-more {
  border-left: 2px solid var(--zeon-primary);
  padding-left: var(--zeon-xs-whitespace);
}
.banner.zeon .learn-more .a {
  color: var(--zeon-primary);
}
.banner.zeon .subheading {
  color: var(--zeon-primary);
  font-size: var(--zeon-secondary-size);
  font-weight: var(--zeon-font-weight-black);
  margin-bottom: 0.45rem;
}
.banner.zeon .subtitle {
  margin-bottom: var(--zeon-lg-whitespace);
}
.banner.zeon .title {
  padding-bottom: 1rem;
}
.banner.zeon .title .display {
  color: var(--zeon-white);
}
.banner.zeon .title .heading-de-emphasized {
  display: inline;
  font-size: var(--zeon-h5-size);
  line-height: var(--zeon-h5-line-height);
}
