.header.zeon .account-info,
.header.zeon .address,
.header.zeon .phone,
.header.zeon .hours {
  display: inline-block;
  padding: var(--zeon-xs-whitespace) 0; }
  .header.zeon .account-info .icon,
  .header.zeon .address .icon,
  .header.zeon .phone .icon,
  .header.zeon .hours .icon {
    display: inline;
    padding-right: 8px; }
  .header.zeon .account-info .content,
  .header.zeon .address .content,
  .header.zeon .phone .content,
  .header.zeon .hours .content {
    display: inline;
    padding-right: var(--zeon-md-whitespace); }

.header.zeon .info-bar a,
.header.zeon .navbar a {
  color: var(--zeon-dark);
  padding: 0; }
  .header.zeon .info-bar a:hover,
  .header.zeon .navbar a:hover {
    text-decoration: none; }

.header.zeon .info-bar {
  border-bottom: 1px solid var(--zeon-light); }

.header.zeon .nav {
  flex-direction: row;
  font-size: var(--zeon-base-font-size);
  font-weight: normal;
  justify-content: flex-end;
  padding: 0; }

.header.zeon .navbar {
  padding: var(--zeon-md-whitespace) 0; }

.header.zeon .nav-link {
  padding-left: 26px;
  padding-right: 0; }

.header.zeon .zeon-container {
  justify-content: space-between; }
