.header.zeon .account-info,
.header.zeon .address,
.header.zeon .phone,
.header.zeon .hours {
  display: inline-block; }

.header.zeon .info-bar a,
.header.zeon .navbar a {
  color: var(--zeon-dark);
  padding: 0; }
  .header.zeon .info-bar a:hover,
  .header.zeon .navbar a:hover {
    text-decoration: none; }

.header.zeon .info-bar {
  border-bottom: 1px solid var(--zeon-light); }

.header.zeon .nav {
  flex-direction: row;
  font-size: var(--zeon-base-font-size);
  font-weight: normal;
  justify-content: flex-end;
  padding: 0; }

.header.zeon .navbar {
  padding: var(--zeon-md-whitespace) 0; }

.header.zeon .nav-link {
  padding-left: 26px;
  padding-right: 0; }

.header.zeon .zeon-container {
  justify-content: space-between; }
