.header.zeon .account-info,
.header.zeon .address,
.header.zeon .phone,
.header.zeon .hours {
  display: inline-block;
  padding: 12px 0; }
  .header.zeon .account-info div,
  .header.zeon .address div,
  .header.zeon .phone div,
  .header.zeon .hours div {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 28px; }

.header.zeon .info-bar,
.header.zeon .navbar {
  display: flex;
  justify-content: space-between; }
  .header.zeon .info-bar a,
  .header.zeon .navbar a {
    color: #09101d; }
    .header.zeon .info-bar a:hover,
    .header.zeon .navbar a:hover {
      text-decoration: none; }

.header.zeon .info-bar {
  border-bottom: 1px solid #ededf0; }

.header.zeon .nav {
  flex-direction: row; }

.header.zeon .navbar {
  padding: 28px 0; }