html body {
  background-color: var(--dp-color-background-light); }

.inventory.dealer-portal .inventory-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px; }
  .inventory.dealer-portal .inventory-heading .control {
    padding-right: 28px; }

.inventory.dealer-portal .nav-tabs {
  font-size: 18px; }
  .inventory.dealer-portal .nav-tabs .count {
    color: var(--dp-color-secondary);
    font-weight: normal;
    font-size: 13px; }
  .inventory.dealer-portal .nav-tabs .nav-link {
    background-color: #e7e7ed;
    margin-right: 4px; }
    .inventory.dealer-portal .nav-tabs .nav-link.active {
      background-color: var(--dp-color-white);
      border-bottom-width: 0;
      color: var(--dp-color-dark);
      font-family: 'Yantramanav-Black';
      font-weight: var(--dp-font-weight-black); }
    .inventory.dealer-portal .nav-tabs .nav-link.btn-unstyled {
      padding: 9px 24px 12px; }

.inventory.dealer-portal .tab-content {
  background-color: var(--dp-color-white);
  font-size: 16px;
  margin-bottom: 48px; }
  .inventory.dealer-portal .tab-content .custom-control {
    margin-left: 12px; }
  .inventory.dealer-portal .tab-content .filter {
    color: #6b6c7e;
    display: inline;
    padding-left: 30px; }
  .inventory.dealer-portal .tab-content .search-filter {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='512'%20height='512'%20viewBox='0%200%20512%20512'%3E%3Cpath%20class='lexicon-icon-outline'%20d='M503.254%20467.861L369.609%20334.216c27.671-35.13%2044.344-79.327%2044.344-127.415C413.953%2093.017%20321.375.439%20207.591.439S1.229%2093.017%201.229%20206.801s92.578%20206.362%20206.362%20206.362c47.268%200%2090.735-16.146%20125.572-42.969l133.851%20133.851c5.002%205.002%2011.554%207.488%2018.106%207.488s13.104-2.486%2018.106-7.488c10.004-10.003%2010.004-26.209.029-36.183zM52.446%20206.801c0-85.558%2069.616-155.173%20155.173-155.173s155.174%2069.616%20155.174%20155.173-69.616%20155.173-155.173%20155.173S52.447%20292.358%2052.447%20206.801z'%20fill='%23646B75'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 16px;
    border-width: 0;
    display: inline-block;
    margin-left: 12px;
    width: 30%; }
  .inventory.dealer-portal .tab-content .status-icon {
    padding-right: 4px; }
  .inventory.dealer-portal .tab-content .stock-number {
    color: var(--dp-color-secondary); }
  .inventory.dealer-portal .tab-content .tab-filters {
    padding: 12px 24px; }
  .inventory.dealer-portal .tab-content .tab-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 24px; }
  .inventory.dealer-portal .tab-content .table {
    font-size: 16px; }
    .inventory.dealer-portal .tab-content .table.table-list td:last-child, .inventory.dealer-portal .tab-content .table.table-list td:first-child,
    .inventory.dealer-portal .tab-content .table.table-list th:last-child,
    .inventory.dealer-portal .tab-content .table.table-list th:first-child {
      box-shadow: inset 0 0.0625rem #e7e7ed, 0 0.0625rem #e7e7ed; }
    .inventory.dealer-portal .tab-content .table th {
      color: var(--dp-color-dark); }
  .inventory.dealer-portal .tab-content .table-display-filter {
    margin-left: 4px; }
  .inventory.dealer-portal .tab-content .vehicle-name {
    font-family: 'Yantramanav-Medium';
    font-size: 18px;
    font-weight: var(--dp-font-weight-medium); }
