.customer-review.zeon {
  background-color: var(--zeon-background-light);
  padding-bottom: 88px;
  padding-top: 72px; }
  .customer-review.zeon h3 {
    margin-bottom: 24px; }
  .customer-review.zeon .carousel {
    background-color: var(--zeon-white);
    padding: var(--zeon-lg-whitespace); }
