:root {
  --zeon-font-family: 'Yantramanav', sans-serif;
  --zeon-base-font-size: 17px;
  --zeon-h1-display-size: 3.815rem;
  --zeon-h1-size: 3.052rem;
  --zeon-h2-size: 2.441rem;
  --zeon-h3-size: 1.953rem;
  --zeon-h4-size: 1.563rem;
  --zeon-h5-size: 1.25rem;
  --zeon-small-size: 15px;
  --zeon-h1-display-line-height: 72px;
  --zeon-h3-line-height: 30px;
  --zeon-h4-line-height: 72px;
  --zeon-h5-line-height: 28px;
  --zeon-small-line-height: 24px;
  --zeon-primary: #d72323;
  --zeon-primary-dark: #af0000;
  --zeon-dark: #09101d;
  --zeon-secondary: #646b75;
  --zeon-background: #e5e5e5;
  --zeon-light: #ededf0;
  --zeon-white: #fff;
  --zeon-xs-whitespace: 12px;
  --zeon-sm-whitespace: 16px;
  --zeon-md-whitespace: 28px;
  --zeon-lg-whitespace: 32px;
  --zeon-max-width: 1224px; }

body .zeon {
  color: var(--zeon-dark);
  font-family: var(--zeon-font-family);
  font-size: var(--zeon-base-font-size); }

.zeon h1,
.zeon h2,
.zeon h3,
.zeon h4,
.zeon h5 {
  font-weight: bold; }

.zeon h1 {
  font-size: var(--zeon-h1-size); }
  .zeon h1.display {
    font-size: var(--zeon-h1-display-size);
    line-height: var(--zeon-h1-display-line-height); }

.zeon h2 {
  font-size: var(--zeon-h2-size); }

.zeon h3 {
  font-size: var(--zeon-h3-size);
  line-height: var(--zeon-h3-line-height); }

.zeon h4 {
  font-size: var(--zeon-h4-size);
  line-height: var(--zeon-h4-line-height); }

.zeon h5 {
  font-size: var(--zeon-h5-size);
  line-height: var(--zeon-h5-line-height); }

.zeon .btn {
  border-radius: 0;
  font-size: var(--zeon-base-font-size);
  line-height: normal;
  text-transform: uppercase; }
  .zeon .btn.btn-link {
    color: var(--zeon-primary); }
  .zeon .btn.btn-dark, .zeon .btn.btn-dark:focus, .zeon .btn.btn-dark:hover, .zeon .btn.btn-dark:not([disabled]):not(.disabled):active {
    background-color: var(--zeon-dark);
    border-width: 0;
    color: var(--zeon-white); }
  .zeon .btn.btn-primary, .zeon .btn.btn-primary:focus, .zeon .btn.btn-primary:hover, .zeon .btn.btn-primary:not([disabled]):not(.disabled):active {
    background-color: var(--zeon-primary);
    border-width: 0;
    color: var(--zeon-white); }

.text-small {
  font-size: var(--zeon-small-size);
  line-height: var(--zeon-small-line-height); }

.zeon-container {
  margin: 0 auto;
  width: var(--zeon-max-width); }

/* header */
.header.zeon .account-info,
.header.zeon .address,
.header.zeon .phone,
.header.zeon .hours {
  display: inline-block;
  padding: var(--zeon-xs-whitespace) 0; }
  .header.zeon .account-info div,
  .header.zeon .address div,
  .header.zeon .phone div,
  .header.zeon .hours div {
    display: inline;
    padding-left: 0.5rem;
    padding-right: var(--zeon-md-whitespace); }

.header.zeon .info-bar,
.header.zeon .navbar {
  display: flex;
  justify-content: space-between; }
  .header.zeon .info-bar a,
  .header.zeon .navbar a {
    color: var(--zeon-dark); }
    .header.zeon .info-bar a:hover,
    .header.zeon .navbar a:hover {
      text-decoration: none; }

.header.zeon .info-bar {
  border-bottom: 1px solid var(--zeon-light); }

.header.zeon .nav {
  flex-direction: row; }

.header.zeon .navbar {
  padding: var(--zeon-md-whitespace) 0; }

/* banner */
.banner {
  color: inherit; }

/* search filters */
.search-filters {
  padding-bottom: 2.35rem; }
  .search-filters h5 {
    margin-bottom: var(--zeon-sm-whitespace); }
  .search-filters label {
    display: block; }
  .search-filters select,
  .search-filters .btn {
    width: 100%; }
  .search-filters select {
    background-color: var(--zeon-light);
    border-width: 0;
    padding: 0.5rem 0.7rem; }
  .search-filters .filter-content {
    padding-top: 1.75rem; }
  .search-filters .nav-tabs {
    background-color: transparent; }
    .search-filters .nav-tabs .nav-link {
      background-color: var(--zeon-light);
      border: 1px solid transparent;
      color: var(--zeon-white);
      padding: 1rem 2rem;
      text-transform: none; }
      .search-filters .nav-tabs .nav-link.active {
        background-color: var(--zeon-white);
        color: var(--zeon-dark); }
  .search-filters .search-btn {
    margin-top: 26px; }

/* quick-links */
.quick-links {
  background-color: var(--zeon-background); }
  .quick-links svg {
    margin-bottom: 1.5rem; }
  .quick-links .btn-link {
    margin-top: var(--zeon-sm-whitespace); }
  .quick-links .description {
    color: var(--zeon-secondary); }
  .quick-links .link {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 4.25rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .quick-links .link:first-child {
      padding-left: 0; }
    .quick-links .link:last-child {
      padding-right: 0; }

/* browse vehicles */
.browse-vehicles {
  color: inherit; }

/* car features */
.car-features h3 {
  margin-bottom: var(--zeon-sm-whitespace); }

.car-features .features {
  background-color: var(--zeon-dark);
  color: var(--zeon-white); }

.car-features .feature-content {
  margin-bottom: 5rem;
  margin-top: 5rem; }

.car-features .feature-image {
  padding: 0; }
  .car-features .feature-image img {
    min-height: 489px; }

.car-features .feature-list {
  list-style: none;
  padding-left: 0; }
  .car-features .feature-list .list-item {
    display: inline-block;
    margin-bottom: var(--zeon-md-whitespace);
    margin-left: var(--zeon-sm-whitespace); }

.car-features .subheading {
  margin-bottom: var(--zeon-lg-whitespace); }

/* customer review */
.customer-review {
  color: inherit; }

/* location info */
.location-info {
  color: inherit; }

/* footer */
.footer.zeon .cta {
  background-color: var(--zeon-primary-dark);
  color: var(--zeon-white);
  padding: var(--zeon-md-whitespace) 0; }

.footer.zeon .cta-msg {
  display: inline;
  margin-right: var(--zeon-lg-whitespace); }
