body .zeon {
  color: #09101d;
  font-family: "Yantramanav";
  font-size: 17px; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold; }

h1 {
  font-size: 3.052rem; }
  h1.display {
    font-size: 3.815rem;
    line-height: 72px; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.953rem;
  line-height: 30px; }

h4 {
  font-size: 1.563rem;
  line-height: 72px; }

h5 {
  font-size: 1.25rem;
  line-height: 28px; }

.btn {
  border-radius: 0;
  font-size: 17px;
  line-height: normal;
  text-transform: uppercase; }
  .btn.btn-link {
    color: #d72323; }
  .btn.btn-primary, .btn.btn-primary:focus, .btn.btn-primary:hover, .btn.btn-primary:not([disabled]):not(.disabled):active {
    background-color: #d72323;
    border-width: 0;
    color: #fff; }

.text-small {
  font-size: 15px;
  line-height: 24px; }

.zeon-container {
  margin: 0 auto;
  width: 1224px; }

.header {
  color: inherit; }

.banner {
  color: inherit; }

.search-filters {
  padding-bottom: 2.35rem;
  padding-top: 1.75rem; }
  .search-filters h5 {
    margin-bottom: 16px; }
  .search-filters label {
    display: block; }
  .search-filters select,
  .search-filters .btn {
    width: 100%; }
  .search-filters select {
    background-color: #ededf0;
    border-width: 0;
    padding: 0.5rem 0.7rem; }
  .search-filters button {
    margin-top: 26px; }

.quick-links {
  background-color: #e5e5e5; }
  .quick-links svg {
    margin-bottom: 1.5rem; }
  .quick-links .btn-link {
    margin-top: 16px; }
  .quick-links .description {
    color: #646b75; }
  .quick-links .link {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 4.25rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .quick-links .link:first-child {
      padding-left: 0; }
    .quick-links .link:last-child {
      padding-right: 0; }

.browse-vehicles {
  color: inherit; }

.car-features h3 {
  margin-bottom: 16px; }

.car-features .features {
  background-color: #09101d;
  color: #fff; }

.car-features .feature-content {
  margin-bottom: 5rem;
  margin-top: 5rem; }

.car-features .feature-image {
  padding: 0; }
  .car-features .feature-image img {
    min-height: 489px; }

.car-features .feature-list {
  list-style: none;
  padding-left: 0; }
  .car-features .feature-list .icon {
    display: inline-block;
    margin-right: 16px;
    height: 32px;
    width: 32px; }

.car-features .subheading {
  margin-bottom: 32px; }

.customer-review {
  color: inherit; }

.location-info {
  color: inherit; }

.footer {
  color: inherit; }
