.search-filters {
  padding-bottom: 2.35rem; }
  .search-filters h5 {
    margin-bottom: var(--zeon-sm-whitespace); }
  .search-filters label {
    display: block; }
  .search-filters select,
  .search-filters .btn {
    width: 100%; }
  .search-filters select {
    background-color: var(--zeon-light);
    border-width: 0;
    padding: 0.5rem 0.7rem; }
  .search-filters .filter-content {
    padding-top: 1.75rem; }
  .search-filters .nav-tabs {
    background-color: transparent; }
    .search-filters .nav-tabs .nav-link {
      background-color: var(--zeon-light);
      border: 1px solid transparent;
      color: var(--zeon-white);
      padding: 1rem 2rem;
      text-transform: none; }
      .search-filters .nav-tabs .nav-link.active {
        background-color: var(--zeon-white);
        color: var(--zeon-dark); }
  .search-filters .search-btn {
    margin-top: 26px; }