.recent-sales.dealer-portal {
  background-color: var(--dp-color-white);
  border-radius: 4px;
  margin-bottom: 48px;

  .table-list {
    td:first-child,
    thead:first-child tr:first-child th:first-child {
      padding-left: 28px;
    }
  }
}
