.recent-sales.dealer-portal {
  background-color: var(--dp-color-white);
  border-radius: 4px;
  margin-bottom: 48px; }
  .recent-sales.dealer-portal .table-list td:first-child,
  .recent-sales.dealer-portal .table-list thead:first-child tr:first-child th:first-child {
    padding-left: 28px; }
