.banner.zeon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=');
  background-position: center;
  background-size: cover;

  .container {
    padding-bottom: 211px;
    padding-top: 133px;
  }

  .learn-more,
  .subheading {
    text-transform: uppercase;
  }

  .learn-more {
    border-left: 2px solid var(--zeon-primary);
    padding-left: var(--zeon-xs-whitespace);

    a {
      color: var(--zeon-white);
    }
  }

  .subheading {
    color: var(--zeon-primary);
    font-size: var(--zeon-secondary-size);
    font-weight: var(--zeon-font-weight-black);
    margin-bottom: 8px;
  }

  .subtitle {
    margin-bottom: var(--zeon-lg-whitespace);
  }

  .title {
    padding-bottom: 8px;

    .display {
      color: var(--zeon-white);
    }

    .heading-de-emphasized {
      display: inline;
      font-size: var(--zeon-h5-size);
      line-height: var(--zeon-h5-line-height);
    }
  }
}
