.browse-vehicles.zeon {
  padding-bottom: 88px;
  padding-top: 72px;

  .nav-underline {
    padding-top: 24px;
    padding-bottom: 44px;

    .nav-item .nav-link {
      color: var(--zeon-secondary);
      padding-left: 0;
      padding-right: 0;
      margin-right: 24px;

      &.active {
        color: var(--zeon-dark);
        font-weight: var(--zeon-font-weight-medium);

        &:after {
          background-color: var(--zeon-primary);
        }
      }
    }
  }
}
