.browse-vehicles.zeon {
  padding-bottom: 88px;
  padding-top: 72px;

  .car-card {
    padding-bottom: 24px;

    &:hover {
      cursor: pointer;

      h5 {
        border-bottom: 2px solid var(--zeon-primary);
      }

      .card-content {
        background-color: var(--zeon-background-light);
      }
    }
  }

  .card-content {
    background: linear-gradient(
      180deg,
      #f7f8f9 45.83%,
      rgba(247, 248, 249, 0) 100%
    );
  }

  .description {
    color: var(--zeon-secondary);
  }

  .info {
    padding: 0 var(--zeon-lg-whitespace) var(--zeon-lg-whitespace);
  }

  .nav-underline {
    padding-top: 24px;
    padding-bottom: 44px;

    .nav-item .nav-link {
      color: var(--zeon-secondary);
      padding-left: 0;
      padding-right: 0;
      margin-right: 24px;

      &.active {
        color: var(--zeon-dark);
        font-weight: var(--zeon-font-weight-medium);

        &:after {
          background-color: var(--zeon-primary);
        }
      }
    }
  }

  .stats {
    font-weight: var(--zeon-font-weight-medium);
    margin-top: var(--zeon-sm-whitespace);
  }

  .stat-label {
    color: var(--zeon-secondary);
    text-transform: uppercase;
  }
}
