/* car features */

.car-features {
  h3 {
    margin-bottom: var(--zeon-sm-whitespace);
  }

  .features {
    background-color: var(--zeon-dark);
    color: var(--zeon-white);
  }

  .feature-content {
    margin-bottom: 90px;
    margin-top: 72px;
  }

  .feature-image {
    padding: 0;

    img {
      min-height: 489px;
    }
  }

  .feature-list {
    list-style: none;
    padding-left: 0;

    .list-item {
      display: inline-block;
      margin-bottom: var(--zeon-md-whitespace);
      margin-left: var(--zeon-sm-whitespace);
    }
  }

  .subheading {
    margin-bottom: var(--zeon-lg-whitespace);
  }
}
