.car-features {
  h3 {
    margin-bottom: var(--zeon-sm-whitespace);
  }

  .features {
    align-items: center;
    background-color: var(--zeon-dark);
    color: var(--zeon-white);
    display: flex;
  }

  .feature-image {
    padding: 0;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .feature-list {
    list-style: none;
    padding-left: 0;

    .list-item {
      display: inline-block;
      margin-bottom: var(--zeon-md-whitespace);
      margin-left: var(--zeon-sm-whitespace);
    }
  }

  .icon {
    display: inline;
  }

  .subheading {
    margin-bottom: var(--zeon-lg-whitespace);
  }
}
