.car-features {
  h3 {
    margin-bottom: $sm-whitespace;
  }

  .features {
    background-color: $dark;
    color: $white;
  }

  .feature-content {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .feature-image {
    padding: 0;

    img {
      min-height: 489px;
    }
  }

  .feature-list {
    list-style: none;
    padding-left: 0;

    .list-item {
      display: inline-block;
      margin-bottom: $md-whitespace;
      margin-left: $sm-whitespace;
    }
  }

  .subheading {
    margin-bottom: $lg-whitespace;
  }
}
