/* footer */

.footer.zeon {
  .cta {
    background-color: var(--zeon-primary-dark);
    color: var(--zeon-white);
    padding: var(--zeon-md-whitespace) 0;
  }

  .cta-msg {
    display: inline;
    margin-right: var(--zeon-lg-whitespace);
  }
}
