.footer.zeon {
  .additional-links,
  .admin-links,
  .language,
  .social-logos {
    display: flex;
  }
  
  .cta {
    background-color: var(--zeon-primary-dark);
    color: var(--zeon-white);
    padding: var(--zeon-md-whitespace) 0;
  }

  .cta-msg {
    display: inline;
    margin-right: var(--zeon-lg-whitespace);
  }

  .footer-main {
    background-color: var(--zeon-dark);
    padding-bottom: 77px;
    padding-top: 73px;
  }
}
