.header.zeon {
  .account-info,
  .address,
  .phone,
  .hours {
    display: inline-block;
  }

  .info-bar,
  .navbar {
    a {
      color: var(--zeon-dark);
      padding: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .info-bar {
    border-bottom: 1px solid var(--zeon-light);
  }

  .nav {
    flex-direction: row;
    font-size: var(--zeon-base-font-size);
    font-weight: normal;
    justify-content: flex-end;
    padding: 0;
  }

  .navbar {
    padding: var(--zeon-md-whitespace) 0;
  }

  .nav-link {
    padding-left: 26px;
    padding-right: 0;
  }

  .zeon-container {
    justify-content: space-between;
  }
}
