/* header */

.header.zeon {
  .account-info,
  .address,
  .phone,
  .hours {
    display: inline-block;
    padding: var(--zeon-xs-whitespace) 0;

    div {
      display: inline;
      padding-left: 0.5rem;
      padding-right: var(--zeon-md-whitespace);
    }
  }

  .info-bar,
  .navbar {
    display: flex;
    justify-content: space-between;

    a {
      color: var(--zeon-dark);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .info-bar {
    border-bottom: 1px solid var(--zeon-light);
  }

  .nav {
    flex-direction: row;
  }

  .navbar {
    padding: var(--zeon-md-whitespace) 0;
  }
}
