$font-family: 'Yantramanav';

$primary: #D72323;
$dark: #09101D;


@import './header';
@import './banner';
@import './search-filters';
@import './quick-links';
@import './browse-vehicles';
@import './car-features';
@import './customer-review';
@import './location-info';
@import './footer';