/* quick-links */

.quick-links {
  background-color: var(--zeon-background-light);

  .btn-link {
    margin-top: var(--zeon-sm-whitespace);
  }

  .description {
    color: var(--zeon-secondary);
  }

  .icon {
    margin-bottom: 24px;
  }
  
  .link {
    text-align: center;
    margin-bottom: 88px;
    margin-top: 72px;
    padding-left: 20px;
    padding-right: 20px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
