/* quick-links */

.quick-links {
  background-color: var(--zeon-background);

  svg {
    margin-bottom: 1.5rem;
  }

  .btn-link {
    margin-top: var(--zeon-sm-whitespace);
  }

  .description {
    color: var(--zeon-secondary);
  }

  .link {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 4.25rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
