/* search filters */

.search-filters {
  padding-bottom: 2.35rem;

  h5 {
    margin-bottom: $sm-whitespace;
  }

  label {
    display: block;
  }

  select,
  .btn {
    width: 100%;
  }

  select {
    background-color: $light;
    border-width: 0;
    padding: 0.5rem 0.7rem;
  }

  .filter-content {
    padding-top: 1.75rem;
  }

  .nav-tabs {
    background-color: transparent;

    .nav-link {
      background-color: $light;
      border: 1px solid transparent;
      color: $white;
      padding: 1rem 2rem;
      text-transform: none;

      &.active {
        background-color: $white;
        color: $dark;
      }
    }
  }

  .search-btn {
    margin-top: 26px;
  }
}
