/* search filters */

.search-filters {
  padding-bottom: 2.35rem;

  h5 {
    margin-bottom: var(--zeon-sm-whitespace);
  }

  label {
    display: block;
  }

  select,
  .btn {
    width: 100%;
  }

  select {
    background-color: var(--zeon-light);
    border-width: 0;
    padding: 0.5rem 0.7rem;
  }

  .filter-content {
    padding-top: 1.75rem;
  }

  .nav-tabs {
    background-color: transparent;

    .nav-link {
      background-color: var(--zeon-light);
      border: 1px solid transparent;
      color: var(--zeon-white);
      padding: 1rem 2rem;
      text-transform: none;

      &.active {
        background-color: var(--zeon-white);
        color: var(--zeon-dark);
      }
    }
  }

  .search-btn {
    margin-top: 26px;
  }
}
