.search-filters {
  padding-bottom: 40px;
  margin-top: -61px;

  h5 {
    margin-bottom: var(--zeon-sm-whitespace);
  }

  label {
    display: block;
  }

  select,
  .btn {
    width: 100%;
  }

  select {
    background-color: var(--zeon-light);
    border-width: 0;
    padding: 10px var(--zeon-xs-whitespace);
  }

  .filter-content {
    padding-top: 30px;
  }

  .nav-tabs {
    background-color: transparent;

    .nav-link {
      background-color: #595E68; // one off color to give a semi translucent feel
      border: 2px solid #0B111E; //  one off color
      border-bottom: 0;
      color: var(--zeon-white);
      padding: 18px var(--zeon-lg-whitespace);
      text-transform: none;

      &.active {
        background-color: var(--zeon-white);
        color: var(--zeon-dark);
      }
    }
  }

  .search-btn {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 26px;
  }
}
