:root {
  --zeon-font-family: 'Yantramanav', sans-serif;
  --zeon-base-font-size: 18px;
  --zeon-h1-display-size: 3.653rem;
  --zeon-h1-size: 2.887rem;
  --zeon-h2-size: 2.281rem;
  --zeon-h3-size: 1.802rem;
  --zeon-h4-size: 1.424rem;
  --zeon-h5-size: 1.266rem;
  --zeon-secondary-size: 0.889rem;
  --zeon-small-size: 0.702rem;
  --zeon-font-weight-medium: 500;
  --zeon-h1-display-line-height: 72px;
  --zeon-h3-line-height: 30px;
  --zeon-h4-line-height: 72px;
  --zeon-h5-line-height: 28px;
  --zeon-small-line-height: 24px;
  --zeon-primary: #d72323;
  --zeon-primary-dark: #af0000;
  --zeon-dark: #09101d;
  --zeon-secondary: #646b75;
  --zeon-background: #e5e5e5;
  --zeon-light: #ededf0;
  --zeon-white: #fff;
  --zeon-xs-whitespace: 12px;
  --zeon-sm-whitespace: 16px;
  --zeon-md-whitespace: 28px;
  --zeon-lg-whitespace: 32px;
  --zeon-max-width: 1224px;
}

body .zeon {
  color: var(--zeon-dark);
  font-family: var(--zeon-font-family);
  font-size: var(--zeon-base-font-size);
}

.zeon h1,
.zeon h2,
.zeon h3,
.zeon h4,
.zeon h5 {
  font-weight: var(--zeon-font-weight-medium);
}

.zeon h1 {
  font-size: var(--zeon-h1-size);
}
.zeon h1.display {
  font-size: var(--zeon-h1-display-size);
  line-height: var(--zeon-h1-display-line-height);
}

.zeon h2 {
  font-size: var(--zeon-h2-size);
}

.zeon h3 {
  font-size: var(--zeon-h3-size);
  line-height: var(--zeon-h3-line-height);
}

.zeon h4 {
  font-size: var(--zeon-h4-size);
  line-height: var(--zeon-h4-line-height);
}

.zeon h5 {
  font-size: var(--zeon-h5-size);
  line-height: var(--zeon-h5-line-height);
}

.zeon .btn {
  border-radius: 0;
  font-size: var(--zeon-base-font-size);
  line-height: normal;
  text-transform: uppercase;
}
.zeon .btn.btn-link {
  color: var(--zeon-primary);
}
.zeon .btn.btn-dark,
.zeon .btn.btn-dark:focus,
.zeon .btn.btn-dark:hover,
.zeon .btn.btn-dark:not([disabled]):not(.disabled):active {
  background-color: var(--zeon-dark);
  border-width: 0;
  color: var(--zeon-white);
}
.zeon .btn.btn-primary,
.zeon .btn.btn-primary:focus,
.zeon .btn.btn-primary:hover,
.zeon .btn.btn-primary:not([disabled]):not(.disabled):active {
  background-color: var(--zeon-primary);
  border-width: 0;
  color: var(--zeon-white);
}

.font-size-secondary {
  font-size: var(--zeon-secondary-size);
}

.font-size-small {
  font-size: var(--zeon-small-size);
  line-height: var(--zeon-small-line-height);
}

.font-weight-medium {
  font-weight: var(--zeon-font-weight-medium);
}

.zeon-container {
  margin: 0 auto;
  width: var(--zeon-max-width);
}
